* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    overflow-x: hidden;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 12, 20, 1);
    /* border: 2px solid yellow; */
}

.navigation {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 2%;
    /* border: 2px solid green; */
}

.backBtn {
    border: none;
    outline: none;
    background: none;
}

.scoreContainer {
    display: flex;
    width: 25%;
    height: 100%;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 0 2% 0 2%; */
    /* margin-right: 12%; */
}

.coins {
    width: 3.4rem;
    height: 2.3rem;
}

.score {
    font-size: 2.2rem;
    color: rgba(255, 250, 242, 1);
    font-family: 'Broadway', sans-serif;
}

.logoContainer {
    width: 100%;
    height: 14.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoImg {
    width: 40%;
    height: 80%;
}

.logoContainer p {
    color: white;
    font-size: 1.2rem;
    font-family: 'Satoshi', sans-serif;
}

.lineContainer {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.line {
    width: 80%;
}

.contentContainer {
    width: 100%;
    height: 69vh;
}

.numberContianer {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Quantitiy {
    color: white;
    font-size: 1.5rem;
    ;
}

.number {
    color: rgba(255, 193, 0, 1);
    font-size: 1.5rem;

}

.questionContainer {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

#question {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-family: Satoshi;
    padding: 4%;
}

.btn-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 30rem;
    flex-wrap: wrap;
}


#answer-buttons>div {
    border-radius: 15px;
    color: white;
    outline: none;
    background-color: rgba(41, 44, 51, 1);
    text-align: center;
    font-family: 'Satoshi';
    width: 40%;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.btn img {
    width: 5rem;
    height: 3rem;
}

.btn p {
    font-size: 2rem;
}

.btn:hover {
    border-color: black;
}

.correct {
    --hue: var(--hue-correct);
    color: black;
}

.wrong {
    --hue: var(--hue-wrong);
}

.start-btn,
.next-btn {
    width: 30%;
    height: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    /* padding: 10px 20px; */
    font-family: 'Satoshi';
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.bottomLine {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
}


.answer {
    color: white;
    font-family: Satoshi;
}


.footer {
    height: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.instruction1 {
    color: white;
    font-size: 1.2rem;
    font-family: Satoshi;
}

.spanCorrect {
    color: rgba(255, 193, 0, 1);
    font-size: 1.2rem;
    font-family: Satoshi;
}

.instruction2 {
    color: white;
    font-size: 1rem;
    font-family: Satoshi;
}

.hide {
    display: none;
}