* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.wrapper {
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 12, 20, 1);
}

.navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding-left: 2%;
}

.backBtn {
    border: none;
    outline: none;
    background: none;
}

.scoreContainer {
    display: flex;
    width: 30%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0 2% 0 2%;
}

.coins {
    width: 3.4rem;
    height: 2.3rem;
}

.score {
    font-size: 2.2rem;
    color: rgba(255, 250, 242, 1);
    font-family: 'Broadway', sans-serif;
}

.logoContainer {
    width: 100%;
    height: 11.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logoContainer p {
    color: white;
    font-size: 1.2rem;
    font-family: 'Satoshi', sans-serif;
}

.lineContainer {
    margin-top: 4%;
    width: 100%;
    display: flex;
    justify-content: center;

}

.line {
    width: 80%;
}

.contentContainer {
    width: 100%;
    height: 60vh;
}

.numberContianer {
    width: 100%;
    height: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Quantitiy {
    color: white;
    font-size: 1.5rem;
    ;
}

.number {
    color: rgba(255, 193, 0, 1);
    font-size: 1.5rem;

}

.questionContainer {
    width: 100%;
    height: 20%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#question {
    color: white;
    text-align: center;
    font-size: 1.8rem;
    font-family: Satoshi;
    margin: 2rem;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 1rem;
    margin: 20px 0;
    padding: 2rem;
}


#answer-buttons > div {
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 5rem;
    color: #000;
    outline: none;
}

.btn img{
    width: 5rem;
    height: 3rem;
}

.btn p{
    font-size: 2rem;
}

.btn:hover {
border-color: black;
}

.correct {
--hue: var(--hue-correct);
color: black;
}

.wrong {
--hue: var(--hue-wrong);
}

.start-btn, .next-btn {
font-size: 1.5rem;
font-weight: bold;
padding: 10px 20px;
}

.controls {
display: flex;
justify-content: center;
align-items: center;
}

.bottomLine {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    text-align: center;
    color: #FFFFFF;
    text-transform: capitalize;
}


.answer{
    color: white;
    font-family: Satoshi;
}


.footer {
    height: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.instruction1 {
    color: white;
    font-size: 1.2rem;
    font-family: Satoshi;
}

.spanCorrect {
    color: rgba(255, 193, 0, 1);
    font-size: 1.2rem;
    font-family: Satoshi;
}

.instruction2 {
    color: white;
    font-size: 1rem;
    font-family: Satoshi;
}

.hide{
    display: none;
}